/**
 * ui widget less
 * @author: vergilzhou
 * @version: 1.0.0
 * @date: 2017/03/27
 *
 */

@import './base';

//按钮
.btn {
	.dib();
	min-width: 100px;
	height: 40px;
	padding: 10px 15px;
	background: #0067ed;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 4px;

	&:hover {
		background: #197dff;
	}
}

//头部轻提示
.top-tip {
	position: fixed;
	top: 0;
	left: 50%;
	border-radius: 4px;
	.c(#fff);
	width: 200px;
	height: 20px;
	padding: 10px 15px;
	.tc();
	// .dn();

	&.success {
		background: green;
	}

	&.fail {
		background: red;
	}
}