<!DOCTYPE html>
<html>
	<head>
		<title>CRM管理系统 - 首页</title>
		<link rel='stylesheet' href='/css/common.css' />
		<link rel='stylesheet' href='/css/index.css' />
	</head>
	<body>
		<%
			include common/header
		%>
		<div class="container tl">
			
			<div class="greeting">
				<p class="name">
					<%
						var name = typeof username !== 'undefined' ? username : '管理员';
					%>
					你好，<%= name %>!
				</p>
				<p class="welcome">欢迎进入CRM管理系统</p>
			</div>
			<div class="info">
				<p class="info-title">
					您的个人信息如下：
				</p>
				<div class="row">
					<span class="label-name">账号</span>
					<span class="label-content">100</span>
				</div>
				<div class="row">
					<span class="label-name">手机</span>
					<span class="label-content">13312345678</span>
				</div>
				<div class="row">
					<span class="label-name">电子邮件</span>
					<span class="label-content">admin@crm.com</span>
				</div>
				<div class="row">
					<span class="label-name">职位</span>
					<span class="label-content">组长</span>
				</div>
				<div class="row">
					<span class="label-name">部门</span>
					<span class="label-content">信息技术部</span>
				</div>
				<div class="row mt40">
					<span href="javascript:void(0);" class="btn" id="modify">修改信息</span>
				</div>
			</div>
		</div>
	</body>
</html>
