<!DOCTYPE html>
<html>
    <head>
        <title>登录</title>
        <link rel='stylesheet' href='/css/common.css' />
        <link rel='stylesheet' href='/css/login.css' />
    </head>
    <body>
        <div class="container">
            <div class="app-title">CRM管理系统</div>
            <div class="main-login">
                <div class="row">
                    <span class="label">用户名</span>
                    <span class="input"><input type="text" id="username"/></span>
                </div>
                <div class="row">
                    <span class="label">密码</span>
                    <span class="input"><input type="password" id="pwd"/></span>
                </div>
                <div class="row mt50">
                    <input type="button" class="btn btn-login" value="登录" id="login" />
                    <a href="javascript:void(0);" id="forgetPwd" class="forget-pwd">忘记密码</a>
                </div>
            </div>
            <%
                include common/footer
            %>
        </div>
        <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/login.js"></script>
    </body>
</html>
