<div class="header">
	<span class="header-title"><a href="/">CRM管理系统</a></span>
	<div class="navs">
		<a href="javascript:void(0);">客户库</a>
		<a href="javascript:void(0);">消息管理</a>
	</div>
	<a class="header-logout" href="javascript:void(0);"><span class="icon icon-logout"></span>退出</a>
</div>